*

{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}


nav
{
	height: 80px;
	width: 100%;
	background-color: greenyellow;
}
nav h1
{
	line-height: 70px;
	font-size: 55px;
	text-align: center;
}
.golden-frame {
    border: 10px solid gold;
}
.shimmer {
  color: grey;
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
