*
{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}


nav
{
	height: 80px;
	width: 100%;
	background-color: greenyellow;
}
nav h1
{
	line-height: 70px;
	font-size: 55px;
	text-align: center;
}
